.appBarLinks {
    margin-left: auto;
    flex-grow: 1;
}
.appBarLinks a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}
.appBarLinks a:hover {
    color: #fff;
    cursor: pointer;
}